[Unit]
Description=Handle Iptables Firewall Rules
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/firewall/start.sh
ExecStop=/etc/firewall/stop.sh
[Install]
WantedBy=multi-user.target
