#sudo nano /etc/systemd/system/fw.service
[Unit]
Sécurité informatique 7
Description=Add Firewall Rules to iptables
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/firewall/start.sh
ExecStop=/etc/firewall/stop.sh
[Install]
WantedBy=multi-user.target
#sudo systemctl daemon-reload
#sudo systemctl enable fw.service
